In [1]:
import unittest
import source.check_data as chd
import pandas as pd
import numpy as np
from pathlib import Path
import os
import random

## Make test data:

In [2]:
random.seed(43)

### Random floats between 0 and 8 to simulate time stamps measured in hours, then sort them from smallest to biggest:

In [3]:
round_counter = 0
random_floats = []
while round_counter < 5:
    random_float = random.uniform(0, 8)
    random_floats.append(random_float)
    round_counter += 1
random_floats

[0.30841471469904036,
 5.5697945810964224,
 1.1514657711628882,
 3.7002580386327004,
 5.373174112942136]

In [4]:
np.array(random_floats).dtype

dtype('float64')

In [5]:
test_data_wrong = random_floats.copy()
test_data_wrong

[0.30841471469904036,
 5.5697945810964224,
 1.1514657711628882,
 3.7002580386327004,
 5.373174112942136]

In [6]:
random_floats.sort()
test_data = list(random_floats)
test_data

[0.30841471469904036,
 1.1514657711628882,
 3.7002580386327004,
 5.373174112942136,
 5.5697945810964224]

In [7]:
chd.test_monotony(test_data)

   index_column  test_value
0             0       False
1             1       False
2             2       False
3             3       False

In [8]:
chd.test_monotony(test_data_wrong)

   index_column  test_value
0             0       False
1             1        True
2             2       False
3             3       False

## Engineer desired output based on test data:

### Output 1: Simple, test data correct, desired output correct:

In [9]:
time_monotony_tests_c_c = pd.DataFrame({'index_column': list(range(0, (len(test_data)-1))), 
                                    'test_value': [False]*(len(test_data)-1)})
time_monotony_tests_c_c

   index_column  test_value
0             0       False
1             1       False
2             2       False
3             3       False

### Output 2: Simple, test data correct and desired output wrong:

In [10]:
test_values = ([False]*(len(test_data)-2)) + [True]

time_monotony_tests_c_w = pd.DataFrame({'index_column': list(range(0, (len(test_data)-1))), 
                                    'test_value': test_values})
time_monotony_tests_c_w

   index_column  test_value
0             0       False
1             1       False
2             2       False
3             3        True

### Output 3: Simple, test data wrong and desired output correct:

In [11]:
test_values = [False, True, False, False]

time_monotony_tests_w_c = pd.DataFrame({'index_column': list(range(0, (len(test_data_wrong)-1))), 
                                    'test_value': test_values})
time_monotony_tests_w_c

   index_column  test_value
0             0       False
1             1        True
2             2       False
3             3       False

In [12]:
# Expected outcome: Test OK!
#desired_output = time_monotony_tests_c_c
#test_data = test_data

In [18]:
# Expected outcome: Test failed!
#desired_output = time_monotony_tests_c_w
#test_data = test_data

In [23]:
# Expected outcome: Test OK!
desired_output = time_monotony_tests_w_c
test_data = test_data_wrong

### Visually compare test data and desired outcome:

In [24]:
test_data

[0.30841471469904036,
 5.5697945810964224,
 1.1514657711628882,
 3.7002580386327004,
 5.373174112942136]

In [25]:
desired_output

   index_column  test_value
0             0       False
1             1        True
2             2       False
3             3       False

## Implement Unit-Test:

In [26]:
class TestCheckData(unittest.TestCase):
    def setUp(self):
        self.data = test_data
    # tests go here:
    def test_inputExists(self):
        self.assertIsNotNone(self.data)
        
    def test_inputType(self):
        self.assertIsInstance(self.data, list)
        
    def test_functReturnsSomething(self):
        self.assertIsNotNone(chd.test_monotony(self.data))

    def test_outputType(self):
        self.assertIsInstance(chd.test_monotony(self.data), pd.core.frame.DataFrame)

    def test_outputDimensions(self):
        df_output = chd.test_monotony(self.data)
        df_output_desired = desired_output
        self.assertEqual(True, df_output.shape == df_output_desired.shape)
    
    def test_outputEqualsDesiredOutput(self):
        df_output = chd.test_monotony(self.data)
        df_output_desired = desired_output
        self.assertEqual(True, df_output.equals(df_output_desired))
#
        
    
#if __name__ == "__main__":
 #   unittest.main()

unittest.main(argv=[''], verbosity=2, exit=False)

test_functReturnsSomething (__main__.TestCheckData.test_functReturnsSomething) ... ok
test_inputExists (__main__.TestCheckData.test_inputExists) ... ok
test_inputType (__main__.TestCheckData.test_inputType) ... ok
test_outputDimensions (__main__.TestCheckData.test_outputDimensions) ... ok
test_outputEqualsDesiredOutput (__main__.TestCheckData.test_outputEqualsDesiredOutput) ... ok
test_outputType (__main__.TestCheckData.test_outputType) ... ok

----------------------------------------------------------------------
Ran 6 tests in 0.014s

OK